<%= form_for(@business) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :legalName %><br>
    <%= f.text_field :legalName %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :taxId %><br>
    <%= f.text_field :taxId %>
  </div>
  <div class="field">
    <%= f.label :businessCategory %><br>
    <%= f.number_field :businessCategory %>
  </div>
  <div class="field">
    <%= f.label :faxNumber %><br>
    <%= f.text_field :faxNumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
